/*css for feeling beet*/

/*Color Swatch----------------------------------------
salmon #EA535A
blue green #369398
spring green #C2CF4A
egg shell #F2FCC4
rusty orange #FA4225
sea foam #98D4B3
lime #92C425
eggplant #2D032E
------------------------------------------------------*/

/*Font Info-------------------------------------------
feeling beet capriola
easy horticulture lobster
other h1,h2,h3 sintony
-----------------------------------------------------*/

body {
	font: 100% Helvetica, Arial, sans-serif;
	line-height: 1.5;
	background: #fff;
	font-weight:normal;
	font-style:normal;
	width: 980px;
	margin: 0 auto;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1 {
	font-family: Capriola, Helvetica, Arial, sans-serif;
	font-size: 1.8em;
}

#tagline h1 {
	font-family: Lobster, Helvetica, Arial, sans-serif;
	font-size: 2.0em;
	float: right;
	margin: .5em;
	