/*css for feeling beet*/

/*Color Swatch----------------------------------------
salmon #EA535A
blue green #369398
spring green #C2CF4A
egg shell #F2FCC4
rusty orange #FA4225
sea foam #98D4B3
lime #92C425
eggplant #2D032E
terra cotta #f55d2d
------------------------------------------------------*/

/*Font Info-------------------------------------------
feeling beet capriola
easy horticulture lobster
other h1,h2,h3 sintony
-----------------------------------------------------*/

body {
	font: 100% Helvetica, Arial, sans-serif;
	line-height: 1.5;
	background: #fff;
	font-weight:normal;
	font-style:normal;
	max-width: 980px;
	margin: 0 auto;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1 {
	font-family: Capriola, Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	color: #C2CF4A;
}

h2, h3 {
	font: 1.5em Sitony, Helvetica, Arial, sans-serif;
}

span {
	font-family: Lobster, Helvetica, Arial, sans-serif;
	color: #C2CF4A;
	font-size: 1.375em;
}

/*************************header*************************************************/

header {
	border-top: 0.375em solid #C2CF4A;
}

header img {
	padding-top: 3.125em /*50px*/;
	padding-right: 3.125em /*50px*/;
	float: left;
	clear: both;
}

#siteName {
	padding-top: 3.125em /*50px*/;
	float: left;
}

#tagline h1 {
	font-family: Lobster, Helvetica, Arial, sans-serif;
	color: #C2CF4A;
	font-size: 2.0em;
	float: right;
	margin: 0.81632% /*.5em; 8px*/;
	clear: both;
}

/*************************nav*************************************************/

nav {
	overflow: hidden;
	margin-bottom: 1.5em;
	padding-left: 5.10204% /*3.125em; *50px/980*/;
	clear: both;
}

nav li {
	float: left;
	margin-left: 5.20408% /*3.2em; 51px/980*/;
}

nav ul {
	list-style: none;
	width: 30.61224% /*300px/980*/;
	float: right;
}

nav a {
	text-transform: uppercase;
	display: block;
	color: #2D032E;
	border: none;
	text-align: center;
	padding-right: 5.20408% /*3.2em; 51px/980*/;
}

a:visited { 
	color: #C2CF4A;
	text-decoration: none;
	font-weight: normal;	 
}

a:hover {
	color: #FA4225;
	text-decoration: none;
	font-weight: normal;	 
}

a:active {
	color: #98D4B3;
	text-decoration: none;
	font-weight: normal;
}

/*************************intro*************************************************/

.background {
  width: 100% /*980px*/;
  height: 21.250em /*340px*/;
  background: url(../images/fresh_vegetables.jpg) no-repeat;
  border: none;
}

.transbox {
  width: 47.14285% /*462px/980px*/;
  height: 21.250em /*340px*/;
  margin: 3.06122% /*1.875em; 30px/980*/ 52.85714% /*32.375em; 518px/980*/;
  background-color: #000;
  border: none;
  opacity:  0.699999988079071044921875;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.transbox h1 {
	margin-left: 2.44897% /*1.500em; 24px/980*/; 
	margin-right: 2.44897% /*1.500em; 24px/980*/;
	padding-top: 10px;
	color: #fff;
}
  
.transbox p {
  margin: 3.06122% /*1.875em; 30px/980*/ 4.08163% /*2.500em; 40px/980*/;
  color: #fff;
}

/*************************article*************************************************/

article h2 {
	color: #FA4225;
	width: 100% /*980px*/;
	height: 2.00em /*40px*/;
	background-color: #2D032E;
	padding-top: 0.938em /*15px*/;
	margin-top: 0.100em /*2px*/;
}

#columnContent {
	-moz-column-count: 3;
	-moz-column-gap: 2.55102% /*1.250em; 25px/980*/;
	padding: 1.0204% /*0.625em; 10px/980*/;
	clear: both;
}

/*************************aside*************************************************/

aside {
	width: 34.69387% /*340px/980*/;
	float: right;
	margin-top: 1.500em /*30px*/;
}

aside h3 {
	font-family: 'Sintony', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	color: #000;
	text-shadow: 2px 2px 2px #666;
	padding-left: 5.88235% /*1.250em; 20px/340*/;
}

aside p {
	padding-left: 5.88235% /*1.250em; 20px/340*/;
	color: #000;
}

.button {
	background-color: #92C425;
	border: 1px solid #6C911B;
	border-radius: 10px;
	padding: 1%;
	width: 36.7647% /*125px/340*/;
	-moz-box-shadow: inset 3px 3px 3px #c1cbcc;
	-webkit-box-shadow: inset 3px 3px 3px #c1cbcc;
	box-shadow: inset 4px 4px 3px #c1cbcc;
	font-family: Capriola, Helvetica, Arial, sans-serif;
	color: #2D032E;
	font-size: 1.0em;
	text-align: center;
	text-shadow: 1px 1px 1px #666;
	margin-left: 5.88235% /*1.250em; 20px/340*/;
}

/*************************topics*************************************************/

#topics {
	padding: 1.0204% /*0.625em; 10px/980*/;
	width: 61.22448% /*600px/980*/;
	float: left;
	clear: both;
}

#topics li {
	list-style-type: disc;
}

/*************************gallery*************************************************/

#gallery {
	clear:both;
	background-color: #2D032E;
	width: 100% /*980px*/;
	height: 864px;
}

#gallery ul {
	list-style-type: none;
	width: 97.95918% /*960px/980*/;
	overflow: hidden;
	padding: 1.0204% /*0.625em; 10px/980*/;
}

#gallery li {
	float: left;
	margin: 1.04166% /*0.625em; 10px/960*/;
	margin-top: 0.250em;
}

#gallery h3 {
	font-family: Lobster, Helvetica, Arial, sans-serif;
	font-size: 2.0em;
	letter-spacing: 0.200em;
	padding-top: 0.625em /*10px*/;
	padding-left: 0.71428% /*0.438em; 7px/980*/;
	margin: 1.0204% /*0.625em; 10px/980*/;
	color: #FA4225;
}

#gallery img {
	max-width: 100%;
}

/*************************footer*************************************************/

footer {
	width: 100% /*980px*/;
	height: 2.750em /*55px*/;
	background-color: #C2CF4A;
}

footer p {
	font-family: Capriola, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	color: #2D032E;
	padding: 1.0204% /*0.625em; 10px/980*/;
}

/****************************Media Queries*************************************/

/*Tablet Portrait size to standard 960 (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width: 959px) {

nav {
	overflow: hidden;
	margin-bottom: 1.5em;
	padding-left: 52.13764% /*500px/959*/;
	clear: both;
}

nav li {
	float: left;
	margin-left: 5.31803% /*51px/959*/;
}

nav ul {
	list-style: none;
	width: 100%;
	float: right;
}

nav a {
	text-transform: uppercase;
	display: block;
	color: #2D032E;
	border: none;
	text-align: center;
	padding-right: 5.31803% /*51px/959*/;
}

}

/*Mobile Landscape size to Tablet Portrait (devices and browsers)*/
@media only screen and (min-width: 480px) and (max-width: 767px) {


}

/*Mobile Portrait size to Mobile Landscape (devices and browsers)*/
@media only screen and (max-width: 479px) {


}
	