/*css for feeling beet*/

/*Color Swatch----------------------------------------
salmon #EA535A
blue green #369398
spring green #C2CF4A
egg shell #F2FCC4
rusty orange #FA4225
sea foam #98D4B3
lime #92C425
eggplant #2D032E
terra cotta #f55d2d
------------------------------------------------------*/

/*Font Info-------------------------------------------
feeling beet capriola
easy horticulture lobster
other h1,h2,h3 sintony
-----------------------------------------------------*/

body {
	font: 100% Helvetica, Arial, sans-serif;
	line-height: 1.5;
	background: #fff;
	font-weight:normal;
	font-style:normal;
	width: 980px;
	margin: 0 auto;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1 {
	font-family: Capriola, Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	color: #C2CF4A;
}

h2, h3 {
	font: 1.5em Sitony, Helvetica, Arial, sans-serif;
}

span {
	font-family: Lobster, Helvetica, Arial, sans-serif;
	color: #C2CF4A;
	font-size: 1.250em;
}

/*************************header*************************************************/

header {
	border-top: 0.375em solid #C2CF4A;
}

header img {
	padding-top: 50px;
	float: left;
	clear: both;
}

header h1 {
	float: left;
	clear:both;
}

#tagline h1 {
	font-family: Lobster, Helvetica, Arial, sans-serif;
	color: #C2CF4A;
	font-size: 2.0em;
	float: right;
	margin: .5em;
	clear: both;
}

/*************************nav*************************************************/

nav {
	overflow: hidden;
	margin-bottom: 1.5em;
	padding-left: 50px;
	clear: both;
}

nav li {
	float: right;
	margin-left: 3.2em;
}

nav ul {
	list-style: none;
}

nav a {
	text-transform: uppercase;
	display: block;
	color: #2D032E;
	border: none;
	text-align: center;
	padding-right: 1.5em;
}

a:visited { 
	color: #C2CF4A;
	text-decoration: none;
	font-weight: normal;	 
}

a:hover {
	color: #FA4225;
	text-decoration: none;
	font-weight: normal;	 
}

a:active {
	color: #98D4B3;
	text-decoration: none;
	font-weight: normal;
}

/*************************intro*************************************************/

.background {
  width: 980px;
  height: 340px;
  background: url(../images/fresh_vegetables.jpg) no-repeat;
  border: none;
}

.transbox {
  width: 462px;
  height: 340px;
  margin: 30px 518px;
  background-color: #000;
  border: none;
  opacity:  0.699999988079071044921875;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.transbox h1 {
	margin: 30px 40px;
	color: #fff;
}
  
.transbox p {
  margin: 30px 40px;
  color: #fff;
}

/*************************article*************************************************/

article h2 {
	color: #FA4225;
	width: 980px;
	height: 50px;
	background-color: #2D032E;
	padding-top: 20px;
	margin-top: 2px;
}

#columnContent {
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	padding: 10px;
	clear: both;
}

/*************************aside*************************************************/

aside {
	width: 340px;
	float: right;
}

aside h3 {
	font-family: 'Sintony', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	color: #000;
	text-shadow: 2px 2px 2px #666;
	padding-left: 20px;
}

aside p {
	padding-left: 20px;
	color: #000;
}

.button {
	background-color: #92C425;
	border: 1px solid #6C911B;
	border-radius: 10px;
	padding: 1%;
	width: 125px;
	-moz-box-shadow: inset 3px 3px 3px #c1cbcc;
	-webkit-box-shadow: inset 3px 3px 3px #c1cbcc;
	box-shadow: inset 4px 4px 3px #c1cbcc;
	font-family: Capriola, Helvetica, Arial, sans-serif;
	color: #2D032E;
	font-size: 1.0em;
	text-indent: 33px;
	text-shadow: 1px 1px 1px #666;
	margin-left: 20px;
}

/*************************topics*************************************************/

#topics {
	padding: 10px;
	width: 600px;
	float: left;
	clear: both;
}

#topics li {
	list-style-type: disc;
}

/*************************gallery*************************************************/

#gallery {
	clear:both;
}

#gallery ul {
	border: 1px dashed #FA4225;
	list-style-type: none;
	width: 960px;
	margin: 20px auto;
	overflow: hidden;
	padding: 10px;
}

#gallery li {
	float: left;
	margin: 4px;
}

#gallery h3 {
	padding-left: 10px;
}

/*************************footer*************************************************/

footer {
	width: 980px;
	height: 45px;
	background-color: #C2CF4A;
}

footer p {
	font-family: Capriola, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	color: #2D032E;
	padding: 10px;
}
	