/*css for feeling beet*/

/*Color Swatch----------------------------------------
salmon #EA535A
blue green #369398
spring green #C2CF4A
egg shell #F2FCC4
rusty orange #FA4225
sea foam #98D4B3
lime #92C425
eggplant #2D032E
------------------------------------------------------*/

/*Font Info-------------------------------------------
feeling beet capriola
easy horticulture lobster
other h1,h2,h3 sintony
-----------------------------------------------------*/

body {
	font: 100% Helvetica, Arial, sans-serif;
	line-height: 1.5;
	background: #fff;
	font-weight:normal;
	font-style:normal;
	width: 980px;
	margin: 0 auto;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1 {
	font-family: Capriola, Helvetica, Arial, sans-serif;
	font-size: 1.8em;
}

h2, h3 {
	font: 1.5em Sitony, Helvetica, Arial, sans-serif;
}

/*************************header*************************************************/
#tagline h1 {
	font-family: Lobster, Helvetica, Arial, sans-serif;
	color: #2D032E;
	font-size: 2.0em;
	float: right;
	margin: .5em;
}

/*************************nav*************************************************/
nav {
	overflow: hidden;
	margin-bottom: 1.5em;
	padding-left: 50px;
}

nav li {
	float: right;
	margin-left: 3.2em;
}

nav ul {
	list-style: none;
}

nav a {
	text-transform: uppercase;
	display: block;
	color: #2D032E;
	border: none;
	text-align: center;
	padding-right: 1.5em;
}

a:visited { 
	color: #92C425;
	text-decoration: none;
	font-weight: normal;	 
}

a:hover {
	color: #FA4225;
	text-decoration: none;
	font-weight: normal;	 
}

a:active {
	color: #98D4B3;
	text-decoration: none;
	font-weight: normal;
}

/*************************aside*************************************************/

aside {
	border-style: solid;
	border-color: red;
}

aside h3 {
	font-family: 'Sintony', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	color: #2D032E;
	text-shadow: 2px 2px 2px #666
}

/*************************gallery*************************************************/

#gallery ul {
	border: 1px dashed #FA4225;
	list-style-type: none;
	width: 960px;
	margin: 20px auto;
	overflow: hidden;
	padding: 20px;
}

#gallery li {
	float: left;
	margin: 20px;
}

/*************************article*************************************************/

article h2 {
	color: #FA4225;
}

#columnContent {
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	padding: 10px;
	clear: both;
}